block content 
    footer.footer 
        .container 
            .footer_inner.slide-footer 
                ul.footer_list 
                    li.footer_list_item 
                        a(href="#").footer_list_link.active follow us 
                    li.footer_list_item 
                        ul.footer_icons 
                            li.footer_icons_item 
                                a(href="#").footer_icons_link 
                                    i.footer_icons_facebook 
                            li.footer_icons_item 
                                a(href="#").footer_icons_link 
                                    i.footer_icons_instagram 
                            li.footer_icons_item 
                                a(href="#").footer_icons_link 
                                    i.footer_icons_youtube 
