block content
    header.header 
        .container 
            .header_inner.slide-header 
                a(href="#banner").header_logo 
                    img(src="./assets/logo.svg", alt="Logo") 

                nav.nav 
                    ul.nav_list 
                        li.nav_item 
                            a(href="#banner").nav_link.active all products 

                nav.controls 
                    ul.controls_list 
                        li.controls_item 
                            a(href="#banner").controls_link
                                i.controls_active follow us 
                        li.controls_item 
                            a(href="#banner").controls_link 
                                i.controls_facebook 
                        li.controls_item 
                            a(href="#banner").controls_link 
                                i.controls_instagram 
                        li.controls_item 
                            a(href="#banner").controls_link 
                                i.controls_youtube 
                
                button.burger 
                    span.burger_item
                    span.burger_item